@import ../variables.sass

$offset: -125px

img.avatar.home
  margin: 0px auto $offset auto
  min-width: 200px
  min-height: 200px
  top: $offset

#about
  small
    color: #666666

  .padded [class*="col-"], .padded .col
    padding-top: 2em
