@import ../../variables.sass

.row.hero.bg-main, .tint
  max-height: 388px
  min-height: 388px

.row.hero
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5)

.tint
  background: linear-gradient(transparent 60%, rgba(0, 0, 0, 1))

.heading-text
  height: 400px
  position: relative
  margin: 0px auto
  max-width: 1024px
  width: 90%

  h1
    bottom: 0px
    margin: 1em 0px
    position: absolute

.row.hero.bg-emerald
  background: image-url('banners/emerald.svg') !important
  background-position: 0% 40% !important
  background-size: cover !important

.row.hero.bg-vena
  background: image-url('banners/vena.jpg') !important
  background-position: 0% 40% !important
  background-size: cover !important

.row.hero.bg-dox
  background: image-url('banners/doximity.jpg') !important
  background-position: 0% 40% !important
  background-size: cover !important

.row.hero.bg-coupgon
  background: image-url('banners/coupgon.png') !important
  background-position: 0% 40% !important
  background-size: cover !important

.row.hero.bg-main
  background: image-url('other/header.jpg') !important
  background-position: 0% 100% !important
  background-size: cover !important
  filter: grayscale(100%)

  .text
    position: relative
    top: -40px

  h2
    font-size: 2.5em
    word-spacing: 0.25em

  h3
    font-size: 1.2em
    word-spacing: 0.1em

  .section
    padding: 7.5em  0em
    max-width: 34em


@media screen and (max-width: $mobile-viewport)
  .text
    display: none
