@import vital/sprockets
@import vital/all
@import variables.sass

.hide
  display: none

body
  background-color: #fefefe
  font-family: "Lato", Arial, sans-serif
  font-weight: 300
  -webkit-font-smoothing: auto

  h1
    font-size: 24px

  h2
    font-size: 18px

  a
    text-decoration: none

  .main
    .row .section
      overflow: auto
    .row:nth-child(odd):not(.hero):not(.bg-black)
      background: #fafafa

/* Vital Styles */

.box
  overflow: auto

.avatar
  border-radius: 100%
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.05)

.feed-card
  a
    color: inherit

.bg-white, .bordered-list .here
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.05)

.section
  max-width: 1024px
  padding-bottom: 3em

/* Media Queries */

@media screen and (max-width: $tablet-viewport)
  .header .section, .section
    width: 90%
