@import vital/sprockets
@import vital/all

body
  background-color: #fefefe
  font-family: "Lato", Arial, sans-serif
  font-weight: 300
  -webkit-font-smoothing: auto

  a
    text-decoration: none

  .bg-white, .bordered-list .here
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.05)

  .section
    overflow: auto
    max-width: 1024px

  .main
    .row:nth-child(odd)
      background: #fafafa

h1
  font-size: 24px

h2
  font-size: 18px

.box
  overflow: auto

.avatar
  border-radius: 100%
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.05)

.feed-card
  a
    color: inherit

@media screen and (max-width: 860px)
  .header .section, .section
    width: 90%
