meta content = ("text/html; charset=UTF-8") http-equiv = "Content-Type"

/ General
meta name = "author"              content = I18n.t("meta.author")
meta name = "description"         content = "#{I18n.t("meta.description")} #{I18n.t("general.about")}"
meta name = "keywords"            content = I18n.t("meta.keywords")
meta name = "viewport"            content = I18n.t("meta.viewport")

/ Open Graph
meta property = "og:description"  content = I18n.t("meta.description")
meta property = "og:title"        content = I18n.t("meta.author")
meta property = "og:type"         content = "website"
meta property = "og:url"          content = I18n.t("urls.base")

/ Twitter
meta name = "twitter:description" content = I18n.t("meta.description")
meta name = "twitter:site"        content = "@armcburney"
meta name = "twitter:title"       content = I18n.t("meta.author")
